@model List<fisrtMVCWeb.Models.ProductViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var i in Model)
    {
        <p>@i.Id: @i.Name</p>

    }
</div>
